.img-full-width
{
  width:100%;
}
//parallax of top image
.parallax-container
{
  width:100%;
}
.parallax-image
{
  background-position: 50% 0%;
  background-attachment: fixed;
}
.section
{
  padding:80px 0;
  box-sizing: border-box;

  &:not(.section-except)
  {
    min-height: 50vh;
  }
  &.section-except
  {
    background-color: $body-bg;
  }
  &.header-items
  {
    padding-top:0;
  }
  &.contact-form
  {
    min-height:80vh;
  }
  &.footer
  {
    padding-bottom: 0;
    min-height:100vh;

    .company-data
    {
      padding:80px 0;
    }
  }
  &.header
  {
    padding:0;
    z-index: 4;
    position: relative;
    h1
    {
      margin-top:0;
      &.slogan
      {
        font-size: floor(($font-size-base * 3.4285714286)); //48px
      }
    }
    p
    {
      font-size: floor(($font-size-base * 1.5)) //21px
    }
    &-items
    {
      h2
      {
        text-align: center;
      }
    }
  }
  &-title
  {
    padding:40px 0;
  }
  &-articles .section:nth-of-type(even)
  {
    background-color: $panel-footer-bg;
  }
  &.no-
  {
	  &padding-
	  {
		  &top
		  {
			  padding-top:0;
		  }
		  &bottom
		  {
			  padding-bottom: 0;
		  }
	  }
  }
}
//offset for section-articles button
.btn-offset
{
  margin:50px auto 80px auto;
}
//carrousel styling
.carousel-inner>.item>img, .carousel-inner>.item>a>img
{
  height:auto;
  width: 100%;

}
.footer
{
  background-color: $panel-footer-bg;
}
$loops : 0;
@function approximateSq($num, $approx) {
  $root : (( $num / $approx ) + $approx) / 2;
  @return $root;
}

@function sqrt($num) {
  $root:0;
  $testRoot : 0;
  $upperBounds : round($num / 2) + 1; //never need over half the main number. Add one just to be sure!
  $loops : $upperBounds;
  @for $test from 2 through $upperBounds {
    $sq : $test * $test;
    @if $sq <= $num {
      $testRoot : $test;
    }
  }

  $root : (approximateSq($num, $testRoot));

  @return $root;
}



.cutout
{
  .cut {
    width:100vw;
    top:0;//-30px;
    height:60px;
    position:relative;
    overflow:hidden;
  }
  .cut:before{

    content:'';
    position:absolute;
    -moz-transform: rotate(45deg) skew(-30deg, -30deg);
    -o-transform: rotate(45deg) skew(-30deg, -30deg);
    -webkit-transform: rotate(45deg) skew(-30deg, -30deg);
    -ms-transform: rotate(45deg) skew(-30deg, -30deg);
    transform: rotate(45deg) skew(-30deg, -30deg);
    box-shadow: 0px 0px 0px 10000px $body-bg;
  }
  .col-lg-12:before
  {
    $vkntz : 10;
    $offset : 50 - ( sqrt(($vkntz * $vkntz ) * 2 ) / 2 );
    $vkd :  ($vkntz * $vkntz ) * 2 ;
    top: #{sqrt($vkd) * -.65}vw;
    left:#{$offset}vw;
    right:#{$offset}vw;
    width:#{sqrt($vkd)}vw;
    height:#{sqrt($vkd)}vw;
  }
  .col-md-12:before
  {
    $vkntz : 13;
    $offset : 50 - ( sqrt(($vkntz * $vkntz ) * 2 ) / 2 );
    $vkd :  ($vkntz * $vkntz ) * 2 ;
    top: #{sqrt($vkd) * -.65}vw;
    left:#{$offset}vw;
    right:#{$offset}vw;
    width:#{sqrt($vkd)}vw;
    height:#{sqrt($vkd)}vw;
  }
  .col-sm-12:before
  {
    $vkntz : 16;
    $offset : 50 - ( sqrt(($vkntz * $vkntz ) * 2 ) / 2 );
    $vkd :  ($vkntz * $vkntz ) * 2 ;
    top: #{sqrt($vkd) * -.65}vw;
    left:#{$offset}vw;
    right:#{$offset}vw;
    width:#{sqrt($vkd)}vw;
    height:#{sqrt($vkd)}vw;
  }
  .col-xs-12:before
  {
    $vkntz : 23;
    $offset : 50 - ( sqrt(($vkntz * $vkntz ) * 2 ) / 2 );
    $vkd :  ($vkntz * $vkntz ) * 2 ;
    top: #{sqrt($vkd) * -.65}vw;
    left:#{$offset}vw;
    right:#{$offset}vw;
    width:#{sqrt($vkd)}vw;
    height:#{sqrt($vkd)}vw;
  }
}

#company-carousel
{
  background-color: $brand-primary;
  img.white_overlay {
    -webkit-filter: brightness(0) invert(1);
    -moz-filter: brightness(0) invert(1);
    -o-filter: brightness(0) invert(1);
    -ms-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
  }
}

$blockquote-number: 30px;
.mares-quote
{
  margin: 25px auto;
  blockquote
  {
    background-color: #dddbe1;

    padding:$blockquote-number;
    box-sizing: border-box;
    border:none;
    position:relative;
    quotes: "\201C""\201D";
    p {
      display: inline;
    }
    &:before
    {
      content: open-quote;
      font-size: 4em;
      margin-left:  - $blockquote-number / 2 ;
      line-height: 0.1em;
      margin-right: $blockquote-number / 4;
      vertical-align: -0.4em;
      font-family: Serif;
    }
    &:after
    {
      background-color: #dddbe1;
      content: "\00a0";
      display: block;
      height: 40px;
      width:  40px;
      position: absolute;
      bottom: -18px;
      left: 39px;
      transform:             rotate( 27deg ) skew( -35deg );
      -moz-transform:    rotate( 27deg ) skew( -35deg );
      -ms-transform:     rotate( 27deg ) skew( -35deg );
      -o-transform:      rotate( 27deg ) skew( -35deg );
      -webkit-transform: rotate( -45deg ) skew( 0deg );
    }
  }
  p
  {
    margin-top:40px;
  }
  &:nth-of-type(2n)
  {
    blockquote:after
    {
      left: auto;
      right: 39px;
    }
    p
    {
      text-align: right;
    }
  }
}

/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
  margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

.alignright {
  float:right;
  margin: 5px 0 20px 20px;
}

.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

a img.alignnone {
  margin: 5px 20px 20px 0;
}

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%; /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center;
}

.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}
.sticky
{
  font-size: 1em;
}
.gallery-caption
{
  font-size: 1em;
}
.bypostauthor
{
  font-size: 1em;
}




.full-width.dropdown {
  position: static;
}
.full-width.dropdown > .dropdown-menu {
  left: 0;
  right: 0;
  margin: auto;
  @media (min-width: $screen-sm-min) {
    position: absolute;
  }
  width:100%;
  @media (min-width: $screen-sm-min) {
    width: $container-sm;
  }
  @media (min-width: $screen-md-min) {
    width: $container-md;
  }
  @media (min-width: $screen-lg-min) {
    width: $container-lg;
  }
}
.full-width.dropdown > .dropdown-menu > li > a {
  white-space: normal;
}
.full-width .dropdown-menu .dropdown-menu
{
  display: block;
  position: static;
  border: 0;
  box-shadow: none;
}

.navbar-nav
{
  margin:0;
}
@media (max-width: $screen-sm-min) {
  .search {
    margin-top: 40px;
  }
}
.full-width > .dropdown-menu > .dropdown > a{
  border-bottom: 2px solid black;
}
@media (max-width: $screen-sm-min) {
  img.size-full {
    max-width: 100vw!important;
    max-height: auto!important;
  }
}
.widget img,
.headersubpage img
{
  width:100%;
  height: auto;
}